body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #c3e8ff, #f8d1ff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header {
  width: 100%;
  background: rgba(0,0,0,0.3);
  padding: 20px;
  color: white;
  text-align: center;
  backdrop-filter: blur(10px);
}

/* FLOOR BUTTONS */
#floorSelector button {
  margin: 6px;
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.3);
  color: #222;
  font-weight: 600;
  cursor: pointer;
}

#floorSelector button:hover {
  background: rgba(255,255,255,0.6);
}

/* STORE LAYOUT */
#storeLayout {
  width: 340px;
  height: 400px;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(8px);
  border-radius: 15px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(8, 1fr);
  gap: 2px;
}

/* BLOCKS */
.block {
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.block.item {
  background: #5bc96b;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block.path {
  background: yellow;
}

/* SIDEPANEL */
#sidePanel {
  margin-top: 20px;
  width: 340px;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(8px);
}

#itemList li {
  padding: 8px;
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  margin-bottom: 8px;
}
